<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">

    <!-- Title of the page in the tab bar-->
    <title>Add Class</title>
    
    <!--==============================================================================================================-->
    <!-- from FirebaseUI tutorial (https://firebase.google.com/docs/auth/web/firebaseui) -->
    <!--==============================================================================================================-->
    <script src="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.css" />  
    
    <!--==============================================================================================================-->
    <!-- from w3school bootstrap tutorial https://www.w3schools.com/bootstrap4/bootstrap_get_started.asp-->
    <!--==============================================================================================================-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <!-- Formats the page so that it looks good on mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container">
      <!-- Title of page-->
      <p>
        <br>
        <br>
      </p>
      <h1>Grade Keep - Add Course</h1> 
      
      <!-- Enter the name of the course -->
      <form>
        <div class="form-group">
          <label for="courseName">Course Name</label>
          <input type="text" class="form-control" id="courseName">
        </div>
      </form>

      <!-- Category Table -->
      <table class="dele-table table table-striped" id="category-table">
        <!-- Header -->
        <thead>
          <tr>
            <td>Category Name</td>
            <td>Category Weight</td>
          </tr>
        </thead>

        <!-- Body of table (where category get entered) -->
        <tbody>
          <tr>
            <td>
              <input type="text" name="categoryName" class="form-control" />
            </td>
            <td>
              <input type="text" name="categoryWeight" class="form-control" />
            </td>
            <td>
              <!-- button for spacing -->
              <input type="button" class="btn" value="Delete" disabled>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Button for adding rows -->
      <input type="button" class="btn btn-block btn-default" id="addCategory" value="Add Category" />

      <!-- Button for adding course-->
      <input type="button" class="btn-addCourse btn btn-block btn-primary" id="addCourse" value="Add Course" />


      <!-- Script for adding/removing rows rows-->
      <script>

        $(document).ready(function () {
          var counter = 0;
  
          // add category row
          $("#addCategory").on("click", function () {
            // create new table row
            var newRow = $("<tr>");

            // add another row (based on body of table but the delete button is not disabled)
            var cols = "";
            cols += '<td><input type="text" class="form-control" name="categoryName' + counter + '"/></td>';
            cols += '<td><input type="text" class="form-control" name="categoryWeight' + counter + '"/></td>';      
            cols += '<td><input type="button" class="btn-dele-table btn btn-danger"  value="Delete"></td>';
            newRow.append(cols);
            $("table.dele-table").append(newRow);
            counter++;
          });
      
      
          // remove rows
          $("table.dele-table").on("click", ".btn-dele-table", function (event) {
            $(this).closest("tr").remove();       
            counter -= 1
          });

          // print what's in the table
          $("#addCourse").on("click", function () {
            // var test = "";
            var test = document.getElementById("courseName").value;
            alert(test);
          });
    
    
        });
      
      
      </script>
    </div>
  </body>
</html>