<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">

    <!-- Title of the page in the tab bar-->
    <title>Home</title>
    
    <!--==============================================================================================================-->
    <!-- from FirebaseUI tutorial (https://firebase.google.com/docs/auth/web/firebaseui) -->
    <!--==============================================================================================================-->
    <script src="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.css" />  
    
    <!--==============================================================================================================-->
    <!-- from w3school bootstrap tutorial https://www.w3schools.com/bootstrap4/bootstrap_get_started.asp-->
    <!--==============================================================================================================-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <!-- Formats the page so that it looks good on mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <a href="http://localhost:3000/index">Country road! Take me (index!)</a>

    <script language="javascript">

      // This is the 'standard' way of doing things:
      var html1 = 
      '<div style="width: 100px; height: 100px; background-color: green">' + 
      'Test 1' + 
      '</div>';
            
      function run() {
        // document.getElementById('test1').innerHTML = html1;
      }
      
      // Run everything when the document loads.
      window.onload = run;
            
    </script>    
    <div id="test1"></div>

    <div class="container">
      <!-- Title of page-->
      <h1>Grade Keep</h1>  

      <!-- Sidebar -->
      <div class="sidebar-button-j">
        <div class="row">
          <div class="col-md-2">
            <div class="btn-group-vertical btn-block">
              <button type="button" class="btn btn-primary">CS 252</button>
              <button type="button" class="btn btn-primary">CS 307</button>
              <button type="button" class="btn btn-primary">PHIL 303</button>
              <button type="button" class="btn btn-primary">PHIL 322</button>
              <button type="button" class="btn btn-primary">MA 265</button>
            </div>      
          </div>
        </div>

        <!-- Page content -->
        <div class="col-md-10">
          <p>
            THIS IS SOME TEXT THAT CAN POTENTIALLY TAKE UP THE WHOLE ENTIRE PAGE YAY FOR THIS AND NOW THIS I LONGER FOR THE SAKE OF BEING LONGER<br> 
            THIS IS SOME TEXT THAT CAN POTENTIALLY TAKE UP THE WHOLE ENTIRE PAGE YAY FOR THIS AND NOW THIS I LONGER FOR THE SAKE OF BEING LONGER<br> 
            THIS IS SOME TEXT THAT CAN POTENTIALLY TAKE UP THE WHOLE ENTIRE PAGE YAY FOR THIS AND NOW THIS I LONGER FOR THE SAKE OF BEING LONGER<br> 
            THIS IS SOME TEXT THAT CAN POTENTIALLY TAKE UP THE WHOLE ENTIRE PAGE YAY FOR THIS AND NOW THIS I LONGER FOR THE SAKE OF BEING LONGER<br> 
            THIS IS SOME TEXT THAT CAN POTENTIALLY TAKE UP THE WHOLE ENTIRE PAGE YAY FOR THIS AND NOW THIS I LONGER FOR THE SAKE OF BEING LONGER<br> 
            THIS IS SOME TEXT THAT CAN POTENTIALLY TAKE UP THE WHOLE ENTIRE PAGE YAY FOR THIS AND NOW THIS I LONGER FOR THE SAKE OF BEING LONGER<br> 
            THIS IS SOME TEXT THAT CAN POTENTIALLY TAKE UP THE WHOLE ENTIRE PAGE YAY FOR THIS AND NOW THIS I LONGER FOR THE SAKE OF BEING LONGER<br> 
          </p>
        </div>


      </div>
    </div>
  </body>
</html>